{% extends 'base.html' %} {% load static %} {% block content %}


<div class="container-fluid">
  
  <div class="p-3 m-3">
    

   
    <div class="col-lg-8 mx-auto">
      <h3 class="alert alert-info border rounded text-center">All Notes</h3>
      {% if not posts %}
      <div class="p-5 text-center">
        <a href="{% url 'createpost' %}" class="btn btn-info btn-lg col-lg-3"
          >Create a Note</a
        >
      </div>

      {% else %}
      <div class="border">
        <table class="mx-auto table table-hover bg-white ">
          <thead >
            <tr >
              <th style="width: 1%">S.no</th>
              <th  style="width: 5%" >Title</th>
              <th  style="width: 4%" class="text-center">Actions</th>
              <th  style="width: 3%" class="text-center">Time</th>
            </tr>
          </thead>

          {% for post in posts %}
        

          <tbody>
            <tr>
              <td>{{forloop.counter}}</td>
              <td>
                <a href="{% url 'postdetail' post.id %}" style="color: black"
                  ><h4>{{post.title}}</h4></a
                >
              </td>

              <td >
                <a
                  type="button"
                  class="btn btn-info"
                  href="{% url 'postdetail' post.id %}"
                  ><i class="fa fa-television"></i>View</a
                >
                <a
                  type="button"
                  class="btn btn-danger"
                  href="{% url 'delete' post.id %}"
                  ><i class="fa fa-recycle"></i>Delete</a
                >

                <a
                  type="button"
                  class="btn btn-warning"
                  href="{% url 'updatepost' post.id %}"
                  ><i class="fa fa-edit"></i>Edit</a
                >
               
               
               
              
                
              </td>
              <td>
                {{post.time}}
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content%}
