{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
  {% if not posts %}
  <div class="p-5 text-center">
    <a href="{% url 'createpost' %}" class="btn btn-info btn-lg col-lg-3"
      >Create a Note</a
    >
  </div>

  {% else %}

  <div class="col-lg-10 mx-auto mt-3">
    <h3 class="alert alert-info border rounded text-center col-lg-11">
      All Notes
    </h3>
    <div class="row">
      {% for post in posts %}

      <div
        class="mx-2 my-2"
        style="border-style: solid; border-color: darkcyan"
      >
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h4 class="card-title">
              <small style="font-style: italic">Title : </small><a href="{% url 'postdetail' post.id %}" class="text-dark">{{post.title}}</a>
             
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">{{post.time}}</h6>
            <p class="card-text">{{post.body}}</p>

            <a
              type="button"
              class="btn btn-info"
              href="{% url 'postdetail' post.id %}"
              ><i class="fa fa-television"></i>View</a
            >
            <a
              type="button"
              class="btn btn-warning"
              href="{% url 'updatepost' post.id %}"
              ><i class="fa fa-edit"></i>Edit</a
            >
            <a
              type="button"
              class="btn btn-danger"
              href="{% url 'delete' post.id %}"
              ><i class="fa fa-recycle"></i>Delete</a
            >
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

  {% endif %}
</div>
{% endblock content%}
