{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class=" m-3 ">
    <h3 class="alert alert-info border rounded text-center">
     Add Personal Information
    </h3>
  </div>

  <form method="POST">
    <div class="row ml-5">
      {% csrf_token %}
      <div class="col-sm-5">
        <label for="">First Name</label>
        <input type="text" name="firstname" id="" class="form-control" />

        <label for="">Last Name</label>
        <input type="text" name="lastname" id="" class="form-control" />

        <label for="">Email</label>
        <input type="text" name="email" id="" class="form-control" />

        <label for="">Phone</label>
        <input type="text" name="phone" id="" class="form-control" />

        <label for="">Address</label>
        <input type="text" name="address" id="" class="form-control" />

        <label for="">State</label>
        <input type="text" name="state" id="" class="form-control" />

        <label for="">Country</label>
        <input type="text" name="country" id="" class="form-control" />
      </div>

      <div class="col-sm-5">
        <label for="">Father Name</label>
        <input type="text" name="fathername" id="" class="form-control" />

        <label for="">Postal Code</label>
        <input type="text" name="postalcode" id="" class="form-control" />

        <label for="">Date of Birth</label>
        <input type="text" name="dob" id="" class="form-control" />

        <label for="">Nick Name</label>
        <input type="text" name="nickname" id="" class="form-control" />

        <label for="">Qualification</label>
        <input type="text" name="qualification" id="" class="form-control" />

        

        <input class="btn btn-info my-3 float-right ml-2" value="Save" type="submit" />
        <a type="button" class="btn btn-danger float-right mt-3" href="{% url 'home' %}"><i class="fa fa-arrow-left"></i> Back</a>
      </div>
    </div>
  </form>
</div>
{% endblock content%}
